<h1>Burger Saver</h1>

<h3>Save burgers that you want now.</h3>

<ul>
  {{#each burgers}}
  	<li>
       <p>Burger: {{this.burger_name}}</p>
       <p>Devoured: {{this.devoured}}</p>
  	</li>
  {{/each}}
</ul>

<div>
  <form action="/create" method="POST">
  	<textarea type="text" name="burger_name"></textarea>
    <input type="hidden" name="devoured" value="false" />
  	<button type="submit">Submit</button>
  </form>
</div>
